
.header {
    font-size: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .navbar {
      overflow: hidden; /* Hide overflow */
      background-color: #333; /* Dark background color */
    }
    
    /* Style the navigation bar links */
    .navbar a {
      float: left; /* Make sure that the links stay side-by-side */
      display: block; /* Change the display to block, for responsive reasons (see below) */
      color: white; /* White text color */
      text-align: center; /* Center the text */
      padding: 14px 20px; /* Add some padding */
      text-decoration: none; /* Remove underline */
    }
    
    /* Right-aligned link */
    .navbar a.right {
      float: right; /* Float a link to the right */
    }
    
    /* Change color on hover/mouse-over */
    .navbar a:hover {
      background-color: #ddd; /* Grey background color */
      color: black; /* Black text color */
    }
  
    @media screen and (max-width: 700px){
      .navbar a{
        flex-direction: column;
      }
    }
    @media screen and (max-width: 400px){
      .navbar a{
        float:none;
        width:100%;
      }
      
    }
    
    .footer {
      font-size: 10px;
      padding:5px;
      text-align:center;
      background:#ddd;
    }

    html, body{
      width:1000px;
      text-align: center;
      margin: auto;
      display:flex;
      flex-direction: column;
      min-height: 100vh;
      align-items:center;
      background-color: #E0E0E0;
      justify-content: center;
    }
    
    .Parent{
        display:flex;
        flex-direction: row;
    }

    .text{
        max-width:800px;
        font-size:20px;
        min-width:400px;
    }

    .ecg_preprocess{
        width:400;
        font-size:20px;
    }

    .main{
        font-size:25px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .parent2{
        display:flex;
        flex-direction: row;
    }

    .mid_text{
      width:800px;
      font-size:20px;
      text-align: center;
      
    }

    .right_text{
      min-width:500px;
      
      font-size:20px;
      text-align:center;
    }

    .top_down_container{
      display:flex;
      flex-direction: column;
    }

    .mid_text_left_align{
      font-size:20px;
      text-align: left;
      align-self: center;
      max-width: 800px;
    }